/* for Tablet */
@media (max-width: 1000px) {
  * {
      box-sizing: border-box;
    }

  .content {
    width: 50%;
    margin-bottom:5px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper p {
    font-size: 24px;
  }

}

/* for Smartphone */
@media (max-width: 670px) {

  .content {
    width: 100%;
  }

  .content p {
    padding-bottom:20px;

  }

  .top-wrapper h1 {
    font-size: 35px;
  }

  .top-wrapper p {
    font-size: 18px;
  }

  .contact-form {
    float:center;
    padding: 25px 10px;
  }

  input, textarea {
    width:90%;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }

  .website{
    display: none;
  }

  .mobile{
    display: block;
  }

  .header-right.responsive {
    float: left;
    position: relative;
    display: block;
  }

  .header-right.responsive a {
    float: none;
    display: block;
    text-align: left;
    transform: translate(-135px, 90px);
    line-height: 40px;
  }

  .nav{
    height:220px;
  }

  .profil {
    width: 100%;
    padding: 20px 0px;
  }

  .teams{
    padding-bottom: 1800px;
  }

  .card img {
    height: 230px;
  }

}

@media (min-width: 670px) and (max-width: 1000px) {
  .profil {
    width: 50%;
    padding: 20px 0px;
  }

  .teams{
    padding-bottom: 800px;
  }
}

@media (max-width: 400px) {
  .header-right.responsive a {
    transform: translate(0px, 0px);
  }

  .card img {
    height: 200px;
  }

  .teams{
    padding-bottom: 1650px;
  }
}